.body {
  background-color: #eee;
}
.main {
  background-color: rgb(229, 221, 213);
  min-height: calc(100vh - 110px);
}
.list-group img {
  height: 50px;
  margin-right: 10px;
}
.badge-success {
  color: #fff;
  background-color: #09d261;
  max-height: 20px;
}
.conversa {
  border: none;
  padding: 0;
}
